<a name="StampsStempelkarten"></a>

<br />

@if (string.IsNullOrEmpty(Session["companyID"]?.ToString()))
{
	<h1>No Company selected</h1>
}
else
{
	<h1 align="center">Statistics</h1>
	<h2>Stampcard statistics</h2>
	{
		Html.RenderAction("CardsInCirculation", "Statistic");
	}
	<br />
	<br />

	{
		Html.RenderAction("CardStatus", "Statistic");
	}

	<br/>
	<br/>

	<a name="Umsatz"></a>
	<h2>Sales statistics</h2>
	{
		Html.RenderAction("Sales", "Statistic");
	}

	<br />
	<br />

	<a name="Kunden"></a>
	<h2>Customer statistics</h2>
	{
		Html.RenderAction("Customer", "Statistic");
	}

	<br />
	<br />
}