<a name="StampsStempelkarten"></a>

<br />

<h1 align="center">Statistics</h1>

<h2>Stampcard statistics</h2>
@{
    Html.RenderAction("CardsInCirculation", "Statistic");
}
<br />
<br />

<h4>Pizza: </h4>
@{
    Html.RenderAction("CardStatus", "Statistic");
}
<br/>
<br/>

<a name="Umsatz"></a>
<h2>Sales statistics</h2>
@{
    Html.RenderAction("Sales", "Statistic");
}

<br />
<br />

<a name="Kunden"></a>
<h2>Customer statistics</h2>
@{
    Html.RenderAction("Customer", "Statistic");
}

<br />
<br />

