<a name="StampsStempelkarten"></a>

<br />

<h1 align="center">Statistiken</h1>

<h2>Stempelkarten</h2>
@{
    Html.RenderAction("CardsInCirculation", "Statistic");
}
<br />
<h6>Redeemed cards: 3</h6>
<h6>Unredeemed cards: 6</h6>
<h6>Cards total: 9</h6>

<br />
<h4>Pizza: </h4>
@{
    Html.RenderAction("CardStatus", "Statistic");
}
<br/>
<br/>

<a name="Umsatz"></a>
<h2>Umsatz</h2>
<img src="/Statistic/Sales" width: 600, height: 400 />

<br />
<br />

<a name="Kunden"></a>
<h2>Kunden</h2>
<h5>Customers: 24</h5>

<br />
<br />

