@using Stampit.Webapp.Models
@model ScanViewModel

<div class="text-center col-md-12">
    <h2>Bitte scannen Sie den QRCode mit der Stampit App um den Stempel zu erhalten</h2>
    <h2>Code: @Model.Stampcode</h2>
    <br />
    <img src="@($"data:image/png;base64,{Model.Base64Img}")" />
    <br /><br />
    <button type="button" class="btn btn-lg btn-primary btn-default btn-cash-stamp" onclick="location.href='@Url.Action("Clear", "KioskMode", new { })'">Zurück</button>
</div>