<!-- requires a prepared base64 string of the image -->
@model string

<div class="text-center col-md-12">
    <h2>Bitte scannen Sie den QRCode mit der Stampit App um den Stempel zu erhalten</h2>
    <br />
    <img src="@($"data:image/png;base64,{Model}")" />
    <br /><br />
    <button type="button" class="btn btn-lg btn-primary btn-default btn-cash-stamp" onclick="location.href='@Url.Action("Clear", "KioskMode", new { })'">Zurück</button>
</div>