@using Stampit.Webapp.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in to StampIt";
}

<h2 align="center">@ViewBag.Title</h2>
<div class="row">
    <div align="center" class="col-md-12">
        <section id="socialLoginForm">
            @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
        </section>
    </div>
</div>
<br />
<br />
<br />
<br />
<br />
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}