<a name="Profile"></a>
<br />
@if (Session["companyID"]==null)
{
	<h1>No Company found</h1>
}
else
{
	<div>
		<a name="CompanyData"></a>
		<h2>Company Data</h2>
		<br />
		<br />
		@{
			Html.RenderAction("Index", "CompanyData");
		}
		<br />
	</div>
	<div>
		<a name="Stores"></a>
		<h2>Stores</h2>
		<br />
		@{
			Html.RenderAction("Index", "Stores");
		}
		<br />
	</div>

	<div>
		<br />
		<a name="Products"></a>
		<h2>Products</h2>
		<br />
		@{
			Html.RenderAction("Index", "Products");
		}
		<br />
	</div>

	<div>
		<br />
		<a name="Users"></a><br />
		<h2>Users</h2>
		<br />
		@{
			Html.RenderAction("Index", "Users");
		}
		<br />
	</div>
}