<a name="Profile"></a>
<h1 align="center">Profile</h1>
<br />
<div>
	<a name="CompanyData"></a>
	<h2>Company Data</h2>
	<br />
	@{
		Html.RenderAction("Index", "CompanyData");
	}
	<br />
</div>
<div>
	<a name="Stores"></a>
	<h2>Stores</h2>
	<br />
	@{
		Html.RenderAction("Stores");
	}
	<br />
</div>

<div>
	<br />
	<a name="Products"></a>
	<h2>Products</h2>
	<br />
	@{
		Html.RenderAction("Index", "Products");
	}
	<br />
</div>

<div>
	<br />
	<a name="Users"></a><br />
	<h2>Users</h2>
	<br />
	@{
		Html.RenderAction("Index", "Users");
	}
	<br />
</div>