<h1 align="center">Admin Interface</h1>
<br />
<h2>Select current Company</h2>
@{
	Html.RenderAction("SelectCompany", "Admin");
}
<br />
<h2>Create new Company</h2>

<br />
<h2>Admin Users</h2>
@{
	Html.RenderAction("AdminUser", "Admin");
}