<a name="Firmendaten"></a>
<br />
<h1 align="center">Stammdaten</h1>
<h2>Firmendaten</h2>
<br />

<div>
	@{
		Html.RenderAction("CompanyDetail");
	}
</div>
<br /><br />
<a name="Filialen"></a>
<h2>Filialen</h2>
<br />
<div>
	@{
		Html.RenderAction("Stores");
	}
</div>

<br /><br />
<a name="Products"></a>
<h2>Produkte</h2>
@{
	Html.RenderAction("Index", "Products","1235s");
}
<br />
<div>
	
</div>
  <br /><br />
<a name="Mitarbeiter"></a><br />
<h2>Mitarbeiter</h2>
<div>
	@{
		Html.RenderAction("Index", "Users");
	}
</div>

<br />