<a name="Firmendaten"></a>
<br />
<h1 align="center">Stammdaten</h1>
<h2>Firmendaten</h2>
<br />
<div>
	@{
		Html.RenderAction("CompanyData");
	}
</div>
<br /><br />
<a name="Filialen"></a>
<h2>Filialen</h2>
<br />
<div>
	@{
		Html.RenderAction("Stores");
	}
</div>

<br /><br />
<a name="Produkte"></a>
<h2>Produkte</h2>
<br />
<div>
	@{
		Html.RenderAction("Products");
	}
</div>
  <br /><br />
<a name="Mitarbeiter"></a><br />
<h2>Mitarbeiter</h2>
<div>
	@{
		Html.RenderAction("Users");
	}
</div>
<br />