@{
	@Scripts.Render("~/Scripts/xedit.js")
}
@{
	Layout = "~/Views/Shared/_LayoutPartial.cshtml";
}
<div class="container">
	<div>
		<span>Username:</span>
		<a href="#" id="username" data-type="text" data-placement="right" data-title="Enter username">superuser</a>
	</div>

	<div>
		<span>Status:</span>
		<a href="#" id="status"></a>
	</div>
</div>
